body {
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}

#cabecera {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#cabecera h1 {
    letter-spacing: 2px;
    color: #957f73;
    font-size: 2.5rem;
}

.idioma {
    width: 30px;    
}

.idioma:nth-of-type(1) {
    margin-right: 0.6rem;
}

#animacion {    
    height: 20vh;
}

nav {
    display: flex;    
    background-color: #685a51;
    margin-top: 1.4rem;
    padding: 10px 0 10px 10px;
    margin-bottom: 2rem;
}

nav span {        
    font-size: 1.2rem;
    color: #fffcf0;
    text-align: center;
    padding: 14px 18px;  
    letter-spacing: 1.5px;  
    font-weight: bold;
}

.elemento {
    font-weight: bold;
}

.subMenu {
    display: none;    
    margin-left: 5px;
}

.subMenu a {
    display: block;
    color: #ffffff;
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.subMenu a:hover {
    color: #ededed;
}

.elemento:hover .subMenu {
    display: block;  
    position: relative;
    left: 14%;  
    margin-top: 10px;    
}

nav a {
    text-decoration: none;
    font-weight: normal;
}

h2 {
    text-align: center;
    letter-spacing: 1.2px;
    color: #968973;
    font-size: 1.7rem;
}

#galeria {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

#fotosDestacadas {
    display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 2rem;
    column-gap: 10rem;    
}

#fotosDestacadas img {
    width: 200px;
}

footer {
    background-color: #685151;
    padding: 10px 0 10px 10px;
}

footer h3 {
    letter-spacing: 1.2px;
    color: #968973;
    margin-top: 0;
}

footer p {
    color: #fffcf0;    
    font-size: 1.1rem;
}

/* Color texto logo: #957f73, color texto h2, h3, h4, h5, h6: #968973, color fondo footer: #685151, color texto footer: #fffcf0 */
/* https://colors.muz.li/palette/957f73/685a51/958873/957473/685151 */
/* https://colors.muz.li/palette/968973/696351/fffcf0/7d7596/575269 */